@model IEnumerable<WebApplication5.Controllers.Country>

@{
    ViewBag.Title = "Index";
    int contador = 0;

}

<h2>Index</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>País</th>
            <th>Casos ativos</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            contador++;
            <tr>
                <td>@contador</td>
                <td>@item.CountryCountry</td>
                <td>@(item.TotalConfirmed - item.TotalRecovered)</td>
            </tr>
        }
    </tbody>
</table>



